# First setting up virtual environment

# Dependencies
import speechrecognition
import pyaudio
import pyttsx3
import requests
import webLinks
import requests
from google import genai
import os
from dotenv import load_dotenv

# Use Gemini AI API key 
Put API key in '.env' file.
