# First setting up virtual environment

# Dependencies
import speechrecognition
import pyaudio
import pyttsx3
import webLinks
import requests
from google import genai (google-genai)
import os
from dotenv import load_dotenv

# Use Gemini AI API key 
Put API key in '.env' file.
